<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
  <h3>All Employees</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Department</th>
    <th>Salary</th>
    <th>Operations</th>
  </tr>

  <tr th:each="emp : ${employees}">
      <td th:text="${emp.name}">name</td>
      <td th:text="${emp.surname}">surname</td>
      <td th:text="${emp.department}">department</td>
      <td th:text="${emp.salary}">salary</td>
      <td>
          <a th:href="@{/update/{id}(id=${emp.id})}"><button type="button">Update</button></a>
      </td>
  </tr>
</table>
  <br>
  <input type="button" value="Add" onclick="window.location.href = 'add'"/>
<!--  <a href="/add"><button type="button">Add</button></a>-->
</body>
</html>